
<div class="col-md-12">
  <%=link_to "New Stock", new_product_stock_path(@product), class: "btn btn-primary pull-right" %>
</div>
<thead>
  <tr>
    <th>Date</th>
    <th>SN/BC</th>
    <th>QTY</th>
    <th class="text-right">Unit Price</th>
    <th class="text-right">In stock</th>
    <th class="text-right">Sold</th>
    <th class="text-right"></th>
  </tr>
</thead>
<tbody>
	<% @product.stocks.order(date: :desc).each do |stock| %>
	  <tr>
	    <td><%=stock.date.strftime('%B %e, %Y')%></td>
	    <td><%=stock.serial_number %></td>
	    <td><%=stock.quantity %></td>
	    <td class="text-right"><%=stock.purchase_price %></td>
	    <td class="text-right"><%=stock.in_stock %></td>
	    <td class="text-right"><%=stock.sold %></td>
	    <td class="text-right"><%= link_to 'Refund', new_stock_refund_path(stock), remote: true, class: 'btn btn-warning' %></td>
	  </tr>
	<% end %>
</tbody>