
  <div class="row">
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3><%=Order.created_between(Time.zone.now.beginning_of_month, Time.zone.now.end_of_month).count %></h3>

          <p>New Orders</p>
        </div>
        <div class="icon">
          <i class="fa fa-cart-plus"></i>
        </div>
        <%=link_to orders_path, class: 'small-box-footer' do %>
        <span>More info <i class="fa fa-arrow-circle-right"></i></span>
        <% end %>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <h3>53<sup style="font-size: 20px">%</sup></h3>

          <p>Sales</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3><%=Member.count %></h3>

          <p>Members</p>
        </div>
        <div class="icon">
          <i class="fa fa-users"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-red">
        <div class="inner">
          <h3><%=number_to_currency LineItem.credit.sum(:total_cost) %></h3>

          <p>Credits</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
        <%=link_to credits_path, class: 'small-box-footer' do %>
          <span>More info <i class="fa fa-arrow-circle-right"></i></span>
        <% end %>
      </div>
    </div>
    <!-- ./col -->
  </div>
Top ten unpaid credits
top ten new sales
top ten new members
