
      <tr>
        <td><%=stock.date.strftime('%B %e, %Y')%></td>
        <td><%=stock.quantity %></td>
        <td><%=stock.serial_number %></td>
        <td><%=stock.purchase_price %></td>
        <td><%=stock.in_stock %></td>
        <td><%=stock.sold %></td>
        <td><%= link_to 'Refund', new_stock_refund_path(stock), class: 'btn btn-warning' %></td>
      </tr>
