
      <tr>
        <td><%=stock.date.strftime('%B %e, %Y')%></td>
        <td><%=stock.quantity %></td>
        <td><%=stock.serial_number %></td>
        <td><%=number_to_currency stock.purchase_price %></td>
        <td><%=stock.in_stock %></td>
        <td><%=stock.sold %></td>
<<<<<<< HEAD
=======
        <td><%= link_to 'Refund', new_stock_refund_path(stock), class: 'btn btn-warning' %></td>
>>>>>>> 9fefa95d56796da6c92ebb4b70791764d3017dc0
      </tr>
