<div class="col-md-12">
  <div class="panel panel-default">
      <div class="panel-heading">
          <h4 class="box-title">Purchases
            <span class="pull-right"> <%=link_to "New Stock", new_stock_path, class: "btn btn-primary" %></span>
          </h4>
      </div>
      <div class="content">
        <div class="table table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Date </th>
                <th> Product </th>
                <th><span class='pull-right'> Quantity</span> </th>
                <th><span class='pull-right'> Amount </span></th>
              </tr>
            </thead>
            <tbody>
              <% @stocks.each do |stock| %>
                <tr>
                  <td><%= stock.date %></td>
                  <td><%= link_to stock.product.name, stock %></td>
                  <td><span class='pull-right'> <%= stock.quantity.round %></span></td>
                  <td><span class='pull-right'> <%= number_to_currency stock.purchase_price %></span></td>

                </tr>
              <% end %>
            </tbody>
          </table>
</div>
</div>
        </div>
</div>
