<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4> New Stock Details</h4>
    </div>
    <div class="panel-body">
          <%=simple_form_for @stock do |f| %>
            <%=f.error_notification %>
            <span><label>Product</label> <span class="pull-right"><%= link_to 'New Product?', new_product_path, remote: true %></span></span>
            <%=f.input :product_id, label: false, collection: Product.all.map{ |a| [a.name, a.id]} %>
            <%=f.input :date, as: :string, input_html: {class: "datepicker"} %>
            <%=f.input :serial_number %>
            <%=f.input :quantity %>
            <%=f.input :unit_price %>
            <%=f.input :purchase_price %>
            <h4>Pricing Details </h4>
            <%=f.input :retail_price %>
            <%=f.input :wholesale_price %>

            <%=f.input :expiry_date, as: :string, input_html: {class: "datepicker"} %>
            <div class="modal-footer">
              <%=f.submit "Save Stock", class: "btn btn-primary" %>
            </div>
          <% end %>
    </div>
  </div>
</div>
<div id="product-modal" class="modal fade"></div>
<script>
  $(document).ready(function() {
    $("#stock_product_id").select2({
      theme: "bootstrap"
    });
  });
</script>
