<div id="member-modal" class="modal fade"></div>
<div class="container">
  <div class="card">
    <div class="header">
      <h4 class="title">Order Details </h4>
      <hr>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-md-5">
          <%=render @cart.line_items %>
        <hr>
            <span class="pull-left"><b>Total</b></span>
            <span class="pull-right"><%=number_to_currency @cart.line_items.total_price %></span>

        </div>
        <div class="col-md-5 col-md-offset-1">
          <%=simple_form_for @order do |f| %>
            <%=f.error_notification %>
            <%=link_to 'New Member', new_member_path, remote: true %>
            <%=f.input :user_id, label: 'Customer', collection: Member.all.map{ |a| [a.first_name, a.id]} %>


            <%=f.input :pay_type, collection: Order.pay_types.keys.to_a.map{|a| [a.titleize, a]}, as: :radio_buttons %>
            <%=f.input :delivery_type, collection: Order.delivery_types.keys.to_a.map{|a| [a.titleize, a]}, as: :radio_buttons %>
            <div class="modal-footer">
              <%=f.submit "Place Order", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
