
  <div class="col-md-6 col-md-offset-3">
  <div class="card">
    <div class="header">
      <h4 class="title">Order Details <span class="pull-right"><%=@order.created_at.strftime("%B %e, %Y") %></span> </h4>
      <hr>
    </div>
    <div class="content">
      <h4 class="title"><%=@order.member.try(:full_name) %></h4>
      <%=@order.member.try(:address) %><br>
      <%=@order.member.try(:mobile_number) %><br>
      <%=@order.member.try(:email) %>
      <hr>
      <h4 class="title"> Items </h4>
      <br>
      <%@order.line_items.each do |line_item| %>
      <ul class="list-unstyled team-members">
        <li id="current_item">
          <div class="row">
            <div class="col-xs-3">

                <span><%=line_item.quantity %> <%=line_item.product.unit %></span>
            </div>
            <div class="col-xs-5">
              <%=line_item.product.name%>
              <br />
              <span class="text-success"><small>
                <% if line_item.retail? %>
                <%=number_to_currency line_item.product.price %>
                <% else %>
                <%=number_to_currency line_item.product.wholesale_price %>
                <% end %>
              </small></span>
            </div>
            <div class="col-xs-4 text-right">
              <% if line_item.retail? %>
              <%=number_to_currency line_item.total_price %>
              <% else %>
              <%=number_to_currency line_item.total_whole_sale_price %>
              <% end %>

            </div>

          </div>
          <hr>
        </li>
      </ul>
      <% end %>

        <div class="modal-footer">
          <b>Amount: </b>
          <% if @order.line_items.last.retail? %>
          <%=number_to_currency @order.line_items.total_price %>
          <% else %>
          <%=number_to_currency @order.line_items.total_whole_sale_price %>
          <% end %>
        </div>
      </div>
    </div>
</div>
