<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Order Details <span class="pull-right"><small><i class="fa fa-clock-o"></i> <%=@order.date.strftime("%A, %B %e, %Y %H:%m %p") %></small></span> </h4>
    </div>
    <div class="content">
      <% if @order.official_receipt_number.blank? && @order.invoice_number.blank? %>
      <%=link_to 'Generate OR', print_official_receipt_order_path(@order, format: 'pdf'), class: 'btn btn-default'%>
      <%=link_to 'Generate Invoice', print_invoice_order_path(@order, format: 'pdf'), class: 'btn btn-primary' %>
      <% end %>
      <% if @order.official_receipt_number.present? %>
      <b>OR #: <%=@order.official_receipt_number.try(:number) %></b>
      <% end %>
      <hr>
      <h4 class="panel-title"><b>Customer</b></h4>
      <br>
      <b> Name </b><%=@order.member.try(:full_name) || 'Guest'%><br>
      <b>Address</b> <%=@order.member.try(:address) || 'Unkown' %><br>
      <b>Mobile Number</b> <%=@order.member.try(:mobile_number) || 'Unknown' %><br>
      <b>Email</b> <%=@order.member.try(:email) || 'Unknown'%>
      <hr>
      <h4>Items </h4>
      <br>
      <%@order.line_items.each do |line_item| %>
      <ul class="list-unstyled team-members">
        <li id="current_item">
          <div class="row">
            <div class="col-xs-3">

                <span><%=line_item.quantity %> </span>
            </div>
            <div class="col-xs-5">
              <%=line_item.stock.name%>
              <br />
              <span class="text-success"><small>
                <% if line_item.retail? %>
                <%=number_to_currency line_item.stock.retail_price %>
                <% else %>
                <%=number_to_currency line_item.stock.wholesale_price %>
                <% end %>
              </small></span>
            </div>
            <div class="col-xs-4 text-right">
              <% if line_item.retail? %>
              <%=number_to_currency line_item.total_price %>
              <% else %>
              <%=number_to_currency line_item.total_whole_sale_price %>
              <% end %>

            </div>

          </div>
          <hr>
        </li>
      </ul>
      <% end %>

        <div class="modal-footer">
          <b>Amount: </b>
          <% if @order.line_items.last.retail? %>
          <%=number_to_currency @order.line_items.total_price %>
          <% else %>
          <%=number_to_currency @order.line_items.total_whole_sale_price %>
          <% end %>
        </div>
      </div>
    </div>
</div>
