<div id="product-modal" class="modal fade"></div>
<div class="row">
                    <div class="col-md-12">
                        <div class="box box-default">
                            <div class="panel-heading">
                                 <div class="row">
                                   <div class="col-md-3">
                                     <ul class="nav navbar-nav">
                                             <li class="dropdown">
                                               <li class="dropdown">
                                               <button href="#" class="dropdown-toggle btn btn-primary" data-toggle="dropdown" aria-expanded="false">All Products <b class="caret"></b></button>
                                               <ul class="dropdown-menu dropdown-menu-right">
                                                   <li><%=link_to 'Available Products', available_products_path %></li>
                                                <li><%=link_to 'All Products', products_path %></li>
                                                 <li><%=link_to 'Low Stock', low_stock_products_path %></li>
                                                  <li><%=link_to 'Out of Stock', out_of_stock_products_path %></li>

                                               </ul>
                                             </li>
                                           </ul>
                                </div>

                                <div class="col-md-6">
                                  <%=form_tag products_path, method: :get do %>
                                    <div class="input-group stylish-input-group">
                                      <%=text_field_tag :name, params[:name], class: 'form-control', placeholder: 'Search Inventory...'%>
                                      <span class="input-group-btn">
                                        <%= button_tag(type: 'submit', class: "btn btn-flat") do %>
                                          <i class="fa fa-search"></i>
                                        <% end %>
                                      </span>
                                    </div>
                                  <% end %>
                                </div>
                                <div class="col-md-3">
                                  <%=link_to new_product_path, remote: true do %>
                                  <span class="btn btn-primary btn-icon pull-right"><i class="fa fa-plus"></i> New Product</span>
                                  <% end %>
                                </div>
                              </div>
</span>                                </h4>
                                <p class="category"></p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover">
                                    <thead>
                                        <th>Name</th>
                                        <th><span class='pull-right'> Price</span></th>
                                        <th><span class='pull-right'> Wholesale Price </span> </th>

                                        <th><span class='pull-right'>In Stock</span></th>
                                        <th>Stock Alert</th>

                                    </thead>
                                    <tbody>
                                    <% @products.each do |product| %>
                                        <tr class="<%="text-danger" if product.out_of_stock?%>">
                                            <td><%=link_to product.name, product %></td>
                                            <td><span class='pull-right'><%=number_to_currency product.price%></span></td>
                                            <td><span class='pull-right'><%=number_to_currency product.wholesale_price%></span></td>
                                            <td><span class='pull-right'><%=product.quantity %></span></td>
                                            <td><span><%=product.stock_status.try(:titleize) %></span></td>
                                            <td><%=link_to "New Stock", new_product_stock_path(product), class: "btn btn-primary btn-sm active" %>

                                            </td>

                                        </tr>

                                        </tr>
                                        <% end %>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>






    </div>
