<div class="border-right">
      <h4 class="title"> Orders
        <span class="pull-right"><%= button_to 'Empty cart', @cart, method: :delete, confirm: 'Are you sure?', class: "btn btn-danger" %></span>
      </h4>
    <br>
    </div>
    <div class="content">
<% if @cart.line_items.empty? %>
<br>
 <center><%=image_tag('empty_cart.png', height: 100, width: 100, class: 'img-responsive') %></center>
<% else %>
          <%=render @cart.line_items.sort_by{|l| l.product_name } %>
<div class="pull-left">
  <h4 class="title"> Total </h4>
</div>
        <div class="pull-right">
          <h4 class="title"> <%=number_to_currency @cart.total_price %></h4>
        </div>
        <br>
<hr>
<div class="row">
<div class="col-md-12">
        <span><center><%= button_to "Checkout", new_order_path, method: :get, class: "btn btn-success btn-block active"%></center>
</div>
</div>


<% end %>
