<%=simple_form_for @product, remote: true do |f| %>
<%=f.error_notification %>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New Account Details </h4>
      </div>
      <div class="modal-body">
        <ul class="errors text-danger">
        </ul>
        <%=f.input :name, autofocus: true %>
        <%=f.input :description %>
        <%=f.input :stock_alert_count %>
      </div>
      <div class="modal-footer">
        <%=link_to "Cancel", "#", class: 'btn btn-default pull-left', data: {dismiss: "modal"} %>
        <%=f.submit "Save Product", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>