<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">New Account Details </h4>
    </div>
    <div class="card">
      <div class="content">
        <div class="modal-body">
          <ul class="errors text-danger">
          </ul>
          <%=simple_form_for @product, remote: true do |f| %>
            <%=f.error_notification %>
            <%=f.input :name %>
            <%=f.input :bar_code %>
            <%=f.input :price %>
            <%=f.input :wholesale_price %>
            <%=f.input :unit %>
            <%=f.input :stock_alert_count %>
            <div class="modal-footer">
              <%=link_to "Cancel", "#", class: 'pull-left' %>
              <%=f.submit "Save Product", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
