<div class="col-md-4 col-md-offset-4">
  <div class="card">
    <div class="header">
      <h4 class="title"> Product Details </h4>
    </div>
    <div class="content">

          <%=simple_form_for @product do |f| %>
            <%=f.error_notification %>
            <%=f.input :name %>
            <%=f.input :wholesale_price %>
            <%=f.input :unit %>
            <%=f.input :bar_code %>
            <div class="modal-footer">
              <%=f.submit "Save Product", class: "btn btn-primary" %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
