<div id="product-modal" class="modal fade"></div>
<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-header">
        <div class="row">
          <div class="col-md-3">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><%=link_to 'Available Products', available_products_path %></li>
                  <li><%=link_to 'All Products', products_path %></li>
                  <li><%=link_to 'Low Stock', low_stock_products_path %></li>
                  <li><%=link_to 'Out of Stock', out_of_stock_products_path %></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <%=form_tag products_path, method: :get do %>
              <div class="input-group stylish-input-group">
                <%=text_field_tag :name, params[:name], class: 'form-control', placeholder: 'Search Inventory...'%>
                <span class="input-group-btn">
                  <%= button_tag(type: 'submit', class: "btn btn-flat") do %>
                    <i class="fa fa-search"></i>
                  <% end %>
                </span>
              </div>
            <% end %>
          </div>
          <div class="col-md-3">
            <%=link_to new_product_path, remote: true do %>
              <span class="btn btn-primary btn-icon pull-right"><i class="fa fa-plus"></i> New Product</span>
            <% end %>
          </div>
        </div>
      </div>
      <div class="box-body">
        <div class="table-responsive table-full-width">
          <table class="table table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th><span class='pull-right'>In Stock</span></th>
                  <th>Sold</th>
                </tr>
              </thead>
              <tbody>
                <% @products.each do |product| %>
                  <tr class="<%="text-danger" if product.out_of_stock?%>">
                    <td><%=link_to product.name, product %></td>
                    <td><span class='pull-right'><%=product.in_stock%></span></td>
                    <td><span><%=product.sold %></span></td>
                    <td><%=link_to "New Stock", new_product_stock_path(product), class: "btn btn-primary btn-sm active" %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
