<div id="product-modal" class="modal fade"></div>
<div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">
                                 <div class="row">
                                   <div class="col-md-2">
                                  List of Products
                                </div>
                                <div class="col-md-6">
                                  <%=form_tag products_path, class: 'sidebar-form', method: :get do %>
                                    <div class="input-group stylish-input-group">
                                      <%=text_field_tag :name, params[:name], class: 'form-control border-input', placeholder: 'Search Inventory...' %>
                                      <span class="input-group-btn">
                                        <%= button_tag(type: 'submit', class: "btn btn-flat") do %>
                                          <i class="fa fa-search"></i>
                                        <% end %>
                                      </span>
                                    </div>
                                  <% end %>
                                </div>
                                <div class="col-md-3">
                                  <%=link_to new_product_path, remote: true do %>
                                  <span class="btn btn-primary btn-icon pull-right"><i class="fa fa-plus"></i> New Product</span>
                                  <% end %>
                                </div>
                              </div>
</span>                                </h4>
                                <p class="category"></p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover">
                                    <thead>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Wholesale Price </th>

                                        <th>In Stock</th>
                                        <th>Stock Alert</th>

                                    </thead>
                                    <tbody>
                                    <% @products.each do |product| %>
                                        <tr class="<%="text-danger" if product.out_of_stock?%>">
                                            <td><%=link_to product.name, product, class: "category" %></td>
                                            <td><%=number_to_currency product.price%></td>
                                            <td><%=number_to_currency product.wholesale_price%></td>
                                            <td><%=product.quantity %><%=product.unit %></td>
                                            <td><span><%=product.stock_alert %></span></td>
                                            <td><%=link_to "New Stock", new_product_stock_path(product), class: "btn btn-primary btn-sm active" %>

                                            </td>

                                        </tr>

                                        </tr>
                                        <% end %>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>






    </div>
