<<<<<<< HEAD
<div class="col-md-12">
  <div class="box box-solid">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-6">
          <h4 class="panel-title">
            <br>
            <%=@product.name.try(:upcase) %><br />
            <a href="#"><small><%=@product.description %></small></a>
          </h4>
        </div>
        <div class="col-md-6">
          <span class='pull-right'><%=link_to 'Edit', edit_product_path(@product), class: 'btn btn-danger' %> <%=link_to 'New Stock', new_product_stock_path(@product), class: 'btn btn-primary' %></span>
        </div>
      </div>
    </div>
    <div class="panel-body">
    <div class="nav-tabs-navigation">
      <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active">
          <a href="#stocks" data-toggle="tab">
            <span class="tab-caption"> Stocks</span>
          </a>
        </li>
        <li>
          <a href="#cash-sales" data-toggle="tab">
            <span class="tab-caption"> Cash Sales</span>
          </a>
        </li>
        <li>
          <a href="#credit-sales" data-toggle="tab">
            <span class="tab-caption"> Credit Sales </span>
          </a>
        </li>
        <li>
          <a href="#overhead_expenses" data-toggle="tab">
            <span class="tab-caption"> History</span>
          </a>
        </li>
        <li>
          <a href="#overhead_expenses" data-toggle="tab">
            <span class="tab-caption"> Settings</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="content">
      <div id="my-tab-content" class="tab-content">
        <%=render 'stocks' %>
        <%=render 'cash_sales' %>
        <%= render 'credit_sales' %>
        <%#= render 'overhead_expenses' %>
      </div>
    </div>
  </div>

<
=======
<%= render 'histories' %>
>>>>>>> 9fefa95d56796da6c92ebb4b70791764d3017dc0
