<div class="col-md-12">
  <div class="box box-solid">
    <div class="box-header">
      <h4>Reports Section</h4>
    </div>
    <div class="panel-body">
      <h4>Sales and Inventories</h4>
      <div class="row">
        <div class="col-md-6">
          <%=link_to scope_to_date_orders_path(from_date: Time.zone.now.beginning_of_day, to_date: Time.zone.now.end_of_day, format: 'pdf') do %>
            <h4> Daily Sales Report </h4>
            <p> Generate daily sales report for today. </p>
          <% end %>
          <br>
          <%=link_to scope_to_date_orders_path(from_date: Time.zone.now.beginning_of_week, to_date: Time.zone.now.end_of_week, format: 'pdf') do %>
            <h4> Weekly Sales Report </h4>
            <p> Generate daily sales report for today. </p>
          <% end %>
          <br>
          <%=link_to scope_to_date_orders_path(from_date: Time.zone.now.beginning_of_month, to_date: Time.zone.now.end_of_month, format: 'pdf') do %>
            <h4> Monthly Sales Report </h4>
            <p> Generate daily sales report for today. </p>
          <% end %>
        </div>
        <div class="col-md-5">
          <h4>Inventories</h4>
          <p> Generate reports for stock alert of products. </p>
          <br>
          <%=link_to low_stock_products_path(format: 'pdf'), class: 'text-warning' do %>
            <h4><span class='text-danger'><i class='fa fa-file-text-o'></i> Low Stock Products </span> </h4>
            <p>Generate report for all low stock products. </p>
          <% end %>
          <hr />
          <%=link_to out_of_stock_products_path(format: 'pdf'), class: 'text-danger' do %>
            <h4 class="text-danger"><i class='fa fa-file-text-o text-danger'></i> Out of Stock Products </h4>
            <p>Generate report for all out of stock products. </p>
          <% end %>
        </div>
      </div>
      <hr>
      <h4><i class='fa fa-server'></i> Purchases </h4>
      <div class="row">
        <div class="col-md-6">
          <%=link_to scope_to_date_stocks_path(from_date: Time.zone.now.beginning_of_day, to_date: Time.zone.now.end_of_day, format: 'pdf') do %>
            <h4> Daily Purchase </h4>
            <p> Generate report for purchases entered this day. </p>
          <% end %>
          <hr>
          <%=link_to scope_to_date_stocks_path(from_date: Time.zone.now.beginning_of_week, to_date: Time.zone.now.end_of_week, format: 'pdf') do %>
            <h4> Weekly Purchase </h4>
            <p> Generate report for purchases entered this day. </p>
          <% end %>
          <hr>
          <%=link_to scope_to_date_stocks_path(from_date: Time.zone.now.beginning_of_month, to_date: Time.zone.now.end_of_month, format: 'pdf') do %>
            <h4> Monthly Purchase </h4>
            <p> Generate report for purchases entered this day. </p>
          <% end %>
        </div>
      </div>
      <hr>
      <h4>Receivables </h4>
      <div class="row">
        <div class="col-md-6">
          <%=link_to credits_path(format: 'pdf') do %>
            <h4>Due from Customers </h4>
            <p>Generate report for credits due from customers </p>
          <% end %>
          <hr>
        </div>
      </div>
      <h4>Payables </h4>
      <div class="row">
        <div class="col-md-6">
          <h4>Payable to Creditors </h4>
          <p>Generate report for accounts payable to creditors </p>
        </div>
      </div>
      <hr>
      <h4>Accounts </h4>
      <div class="row">
        <div class="col-md-12">
          <%=link_to accounting_income_statement_index_path(format: 'pdf') do %>
            <h4> Income Statement </h4>
            <p>Generate Income Statement of your business </p>
          <% end %>
          <hr>
        </div>
        <div class="col-md-12">
          <h4>Transactions</h4>
          <%=link_to 'This Day', scope_to_date_accounting_entries_path(:from_date => Time.zone.now.beginning_of_day, :to_date => Time.zone.now.end_of_day, format: 'pdf') %><br>
          <%=link_to 'This Week', scope_to_date_accounting_entries_path(from_date: Time.zone.now.beginning_of_week, to_date: Time.zone.now.end_of_week, format: 'pdf') %><br>
          <%=link_to 'This Month', scope_to_date_accounting_entries_path(from_date: Time.zone.now.beginning_of_month, to_date: Time.zone.now.end_of_month, format: 'pdf') %><br>
           <%=link_to 'This Year', scope_to_date_accounting_entries_path(from_date: Time.zone.now.beginning_of_year, to_date: Time.zone.now.end_of_year, format: 'pdf') %>
        </div>
      </div>
    </div>
  </div>
</div>
