<div class="row">
  <div class="col-md-4 col-sm-offset-4">
    <%=form_tag store_path, class: 'sidebar-form', method: :get do %>
      <div class="input-group">
        <%=text_field_tag :name, params[:name], class: 'form-control border-input', placeholder: 'Search Inventory...' %>
        <span class="input-group-btn">
          <%= button_tag(type: 'submit', class: "btn btn-flat") do %>
            <i class="fa fa-search"></i>
          <% end %>
        </span>
      </div>
    <% end %>
  </div>
</div>
  <hr>
<div class="row">
  <div class="col-md-8">
    <% @products.each do |product| %>
      <div class="col-md-4">
        <div class="card">
          <div class="header">
            <h4 class="title"><%=product.name %>
              <span class='pull-right'><small class="text-info"><%=number_to_currency product.price %></small></span>
            </h4>
          </div>
          <div class="content">
            <div class="modal-footer">
              <%=simple_form_for @line_item do |f| %>
                <div class="row">
                  <div class="col-md-4">
                    <%=f.input :quantity, label: false, as: :string, required: true %>

                    <%=f.input :product_id, input_html: {value: product.id }, as: :hidden %>
                  </div>
                  <div class="col-md-8">
                    <% if  product.out_of_stock? %>
                      <span class="btn btn-danger active"> Out of Stock </span>
                    <% else %>
                      <%=f.submit "Add to Cart", data: {disable_with: "Adding Product..."}, class: "btn btn-primary" %>
                    <% end %>
                  </div>
                </div>
                <p class="text-warning"><%=product.quantity%> <%=product.unit %> remaining</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-md-4" id="cart">
    <%=render @cart %>
  </div>
</div>
