<header class="main-header">

  <!-- Logo -->
  <a href="/" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>I</b>TX</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>IT</b>WORX</span>
  </a>

  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">

            <span class="hidden-xs"><%=image_tag(current_user.profile_photo.url(:small), height: 18, width: 18, class: 'img-circle') %> <%=current_user.first_name  || current_user.email %></span>
            <i class="caret"></i>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
            <%=image_tag(current_user.profile_photo.url(:medium), class: 'img-circle') %>

              <p>
              <%=current_user.full_name %>            <small><%=current_user.role.titleize %> </small>
              <br>
              <br>
              <p></p>
              </p>
            </li>

            <!-- Menu Body -->

            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
              <%=link_to 'Profile', user_path(current_user), class: 'btn btn-default' %>
               </div>
              <div class="pull-right">
                 <%=link_to 'Sign out', destroy_user_session_path, method: :delete, class: "btn btn-danger btn-flat" %>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>

  </nav>
</header>
