<%=simple_form_for @member, remote: true do |f| %>
<%= f.error_notification %>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New Customer</h4>
      </div>
      <div class="modal-body">
        <ul class="errors text-danger">
        </ul>
        <div class="row">
          <div class="col-md-6">
            <%=f.input :first_name %>
          </div>
          <div class="col-md-6">
            <%=f.input :last_name %>
          </div>
        </div>
        <%=f.input :mobile %>
        <%=f.input :password, input_html: { value: '111111' }, as: :hidden %>
        <%=f.input :password_confirmation,  input_html: { value: '111111' }, as: :hidden  %>
        <%=f.input :role, collection: Member.roles.keys.to_a.map { |m| [m.titleize, m] }, default: Member.roles.keys.to_a.first %>
        <%=f.input :email, as: :hidden %>
        <hr>
        <h4> Address Details </h4>
        <%=f.simple_fields_for :addresses do |a| %>
          <div class="row">
            <div class="col-md-6">
              <%=a.input :street, label: false, placeholder: 'Street' %>
            </div>
            <div class="col-md-6">
              <%=a.input :barangay, label: false, placeholder: 'Barangay' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <%=a.input :municipality, label: false, placeholder: 'Municipality', input_html: { value: "Lagawe" } %>
            </div>
            <div class="col-md-6">
              <%=a.input :province, label: false, placeholder: 'Province', input_html: { value: "Ifugao" } %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <%= link_to "Cancel", "#", class: "btn btn-default pull-left", data: {dismiss: "modal"} %>
        <%=f.submit "Save", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
