<div class="tab-pane" id="purchases">
  <div class="table table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th> Date </th>
          <th> Item </th>
          <th> Amount </th>
          <th> Payment </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @member.orders.each do |order| %>
        <tr>
          <td><%= order.date.strftime('%B %e, %Y') %></td>
          <td>
            <% order.line_items.each do |l|%>
              <%=l.stock.name %>
            <% end %>
          </td>

          <td><%= number_to_currency order.line_items.total_price %></td>
          <td><%=order.pay_type %></td>
          <td>
            <%if order.credit? %>
            <%=link_to 'Pay' %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
