
<div id="member-modal" class="modal fade"></div>
<div class="row">
<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-3">
          <h4 class="panel-title"> Customers </h4>
        </div>
        <div class="col-md-6">
          <%=form_tag members_path, method: :get do %>
            <div class="input-group stylish-input-group">
              <%=text_field_tag :name, params[:name], class: 'form-control', placeholder: 'Search Customers...'%>
              <span class="input-group-btn">
                <%= button_tag(type: 'submit', class: "btn btn-flat") do %>
                  <i class="fa fa-search"></i>
                <% end %>
              </span>
            </div>
          <% end %>
        </div>
        <div class="col-md-3">
          <span class="pull-right">
            <%=link_to new_member_path, remote: true do %>
            <span class="btn btn-primary"><i class="fa fa-user-plus"></i> New Member </span>
            <% end %>
          </span>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="table table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Member</th>
              <th> Mobile Number</th>
              <th> Address </th>
            </tr>
          </thead>
          <tbody>
            <% @members.each do |member| %>
              <tr>
                <td><%= link_to member.full_name, member %></td>
                <td><%= member.mobile %></td>
                <td><%= member.address %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
