<div class="col-md-12">
  <div class="box box-solid">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-1">
          <%= image_tag @member.profile_photo.url(:small), class: "img-circle"%>
        </div>
        <div class="col-md-10">
          <h4 class="panel-title">
            <br>
            <%=@member.full_name %><br />
            <a href="#"><small><%=@member.address.try(:details) %></small></a>
          </h4>
        </div>
      </div>
    </div>
    <div class="panel-body">
    <div class="nav-tabs-navigation">
      <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active">
          <a href="#info" data-toggle="tab">
            <span class="tab-caption"> Info</span>
          </a>
        </li>
        <li>
          <a href="#cash-transaction" data-toggle="tab">
            <span class="tab-caption"> Cash Transactions</span>
          </a>
        </li>
        <li>
          <a href="#credit-transaction" data-toggle="tab">
            <span class="tab-caption"> Credit Transactions</span>
          </a>
        </li>
        <li>
          <a href="#office_expenses" data-toggle="tab">
            <span class="tab-caption"> Settings</span>
          </a>
        </li>
        <li>
          <a href="#overhead_expenses" data-toggle="tab">
            <span class="tab-caption"> History</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="content">
      <div id="my-tab-content" class="tab-content">
        <%=render 'info' %>
        <%=render 'cash_transactions' %>
        <%=render 'credit_transactions' %>

        <%#= render 'office_expenses' %>
        <%#= render 'overhead_expenses' %>
      </div>
    </div>
  </div>
